copyq
stripe
raycast
.tokens
dconf
debug.log
Slack
spotify
mimeapps.list
.wrangler
yay
htop
google-chrome
go
github-copilot
gcloud
'MongoDB Compass'
MongoDB Compass
kde.org
gtk-*
nextjs-nodejs
nwg-look
pulse
qt5ct
qt6ct
dolphinrc
StardewValley
Slack
unity3d
session
qt5ct
yay
xsettingsd
Kvantum
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
gtk-3.0
gtk-4.0
google-chrome
go
github-copilot
gcloud
dconf
Electron
discord
Code
swaync
xdg-desktop-portal
Docker Desktop
nvm
uv
fish
bruno
1Password
BraveSoftware
chromium
google-chrome-beta
google-chrome-unstable
microsoft-edge-dev
systemd
vivaldi-snapshot
vivaldi
LM Studio
QOpenVPN
